@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  color: #0A0A0A;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
